.progress {
  align-items: center;
  margin-left: 10px;
}

.progress-bar {
  height: 5px;
  background-color: #ecf0f1;
  border-radius: 5px;
  position: relative;
}

.progress-filled {
  height: 100%;
  border-radius: 5px;
  width: 30%;
}

