* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fdfaf6;
  color: #2c3e50;
  line-height: 1.6;
}

.app-container {
  display: flex;
  height: 100vh;
}

.main-content {
  margin-left: 250px;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 30px 80px;
  position: relative;
}

.top-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 40px;
}

.user-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-left: 5px;
  cursor: pointer;
}

.login-link {
  color: rgb(83, 82, 82);
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}