.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh; 
    padding: 20px 15px;
    background: #F5F6F1;
    cursor: pointer;
}

.logo {
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
    font-style: italic;
}

.logo a {
    color: #47abda;
    text-decoration: none;
}

.logo a:hover {
    text-decoration: underline;
}

nav ul {
    list-style: none;
}
  
nav ul li {
    margin-bottom: 25px;
}
  
nav ul li a {
    color: #29487B;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
}
  
nav ul li a:hover {
    text-decoration: underline;
}
  
nav ul li a::before {
    content: " ";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#authLink {
    visibility: hidden;
  }
